<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="./marrymina.jpg"> 
    <title>أية اليوم</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <div class="aya" id="aya"></div>
    <script>
        // Function to generate a random number within a specific range
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        // Array of ayat
        let ayat = [
        '"كَمَا يَتَرَأَفُ الأَبُ عَلَى الْبَنِينَ يَتَرَأَفُ الرَّبُّ عَلَى خَائِفِيهِ." (مز 103: 13).',
        '"اُنْظُرُوا أَيَّةَ مَحَبَّةٍ أَعْطَانَا الآبُ حَتَّى نُدْعَى أَوْلاَدَ اللهِ! مِنْ أَجْلِ هذَا لاَ يَعْرِفُنَا الْعَالَمُ، لأَنَّهُ لاَ يَعْرِفُهُ." (1 يو 3: 1).', 
        '"وَأَمَّا أَنْتَ فَمَتَى صَلَّيْتَ فَادْخُلْ إِلَى مِخْدَعِكَ وَأَغْلِقْ بَابَكَ، وَصَلِّ إِلَى أَبِيكَ الَّذِي فِي الْخَفَاءِ. فَأَبُوكَ الَّذِي يَرَى فِي الْخَفَاءِ يُجَازِيكَ عَلاَنِيَةً." (مت 6: 6).',
        '"اُنْظُرُوا إِلَى طُيُورِ السَّمَاءِ: إِنَّهَا لاَ تَزْرَعُ وَلاَ تَحْصُدُ وَلاَ تَجْمَعُ إِلَى مَخَازِنَ، وَأَبُوكُمُ السَّمَاوِيُّ يَقُوتُهَا. أَلَسْتُمْ أَنْتُمْ بِالْحَرِيِّ أَفْضَلَ مِنْهَا؟" (مت 6: 26). ',
        '"لاَ تُحِبُّوا الْعَالَمَ وَلاَ الأَشْيَاءَ الَّتِي فِي الْعَالَمِ. إِنْ أَحَبَّ أَحَدٌ الْعَالَمَ فَلَيْسَتْ فِيهِ مَحَبَّةُ الآبِ." (1 يو 2: 15).',
        '"لاَ تَخَفْ، أَيُّهَا الْقَطِيعُ الصَّغِيرُ، لأَنَّ أَبَاكُمْ قَدْ سُرَّ أَنْ يُعْطِيَكُمُ الْمَلَكُوتَ." (لو 12: 32).',
        '"أَجَابَ يَسُوعُ وَقَالَ لَهُ: «إِنْ أَحَبَّنِي أَحَدٌ يَحْفَظْ كَلاَمِي، وَيُحِبُّهُ أَبِي، وَإِلَيْهِ نَأْتِي، وَعِنْدَهُ نَصْنَعُ مَنْزِلًا." (يو 14: 23).',
        '"اَلَّذِي لَمْ يُشْفِقْ عَلَى ابْنِهِ، بَلْ بَذَلَهُ لأَجْلِنَا أَجْمَعِينَ، كَيْفَ لاَ يَهَبُنَا أَيْضًا مَعَهُ كُلَّ شَيْءٍ؟" (رو 8: 32).',
        '"اَلَّذِي عِنْدَهُ وَصَايَايَ وَيَحْفَظُهَا فَهُوَ الَّذِي يُحِبُّنِي، وَالَّذِي يُحِبُّنِي يُحِبُّهُ أَبِي، وَأَنَا أُحِبُّهُ، وَأُظْهِرُ لَهُ ذَاتِي»." (يو 14: 21).',
        '"فِي بَيْتِ أَبِي مَنَازِلُ كَثِيرَةٌ، وَإِلاَّ فَإِنِّي كُنْتُ قَدْ قُلْتُ لَكُمْ. أَنَا أَمْضِي لأُعِدَّ لَكُمْ مَكَانًا،" (يو 14: 2).',
        '"وَالرَّبُّ سَائِرٌ أَمَامَكَ. هُوَ يَكُونُ مَعَكَ. لاَ يُهْمِلُكَ وَلاَ يَتْرُكُكَ. لاَ تَخَفْ وَلاَ تَرْتَعِبْ»." (تث 31: 8).',
        '"أَمَا أَمَرْتُكَ؟ تَشَدَّدْ وَتَشَجَّعْ! لاَ تَرْهَبْ وَلاَ تَرْتَعِبْ لأَنَّ الرَّبَّ إِلهَكَ مَعَكَ حَيْثُمَا تَذْهَبُ»." (يش 1: 9).',
        '"ثُمَّ بِمَا أَنَّكُمْ أَبْنَاءٌ، أَرْسَلَ اللهُ رُوحَ ابْنِهِ إِلَى قُلُوبِكُمْ صَارِخًا: «يَا أَبَا الآبُ»." (غل 4: 6).',
        '"وَأَمَّا كُلُّ الَّذِينَ قَبِلُوهُ فَأَعْطَاهُمْ سُلْطَانًا أَنْ يَصِيرُوا أَوْلاَدَ اللهِ، أَيِ الْمُؤْمِنُونَ بِاسْمِهِ." (يو 1: 12).',
        '"أَيُّهَا الأَحِبَّاءُ، الآنَ نَحْنُ أَوْلاَدُ اللهِ، وَلَمْ يُظْهَرْ بَعْدُ مَاذَا سَنَكُونُ. وَلكِنْ نَعْلَمُ أَنَّهُ إِذَا أُظْهِرَ نَكُونُ مِثْلَهُ، لأَنَّنَا سَنَرَاهُ كَمَا هُوَ." (1 يو 3: 2).',
        '"(إذ لم تأخذوا روح العبودية أيضا للخوف، بل أخذتم روح التبني الذي به نصرخ: "يا أبا الآب."(رو 8: 15',
        '"الرب قريب لكل الذين يدعونه، الذين يدعونه بالحق. يعمل رضى خائفيه، ويسمع تضرعهم، فيخلصهم." (مز 145: 18-19). ',   
        ];

        // Get the current date
        const currentDate = new Date();

        // Set the start date to February 3rd
        const startDate = new Date(currentDate.getFullYear(), 0, 31);

        // Calculate the difference in days between the current date and the start date
        const dayDifference = Math.floor((currentDate - startDate) / (1000 * 60 * 60 * 24));

        // Determine the range based on the day difference
        const startIndex = (dayDifference % 3) * 4;
        const endIndex = startIndex + 9;
        // Generate a random index within the specified range
        const randomIndex = getRandomInt(startIndex, endIndex);

        // Display the selected ayah
        document.getElementById('aya').innerText = ayat[randomIndex];
    </script>
</body>
</html>

       
